@model HaberSistemi.Data.Model.Haber
@{
    ViewBag.Title = "Haber Ekle";
}

<h2>Haber Ekle</h2>
<hr />
<script src="~/ckeditor/ckeditor.js"></script>
<div class="container-fluid">
    <form>
        <div class="form-row">

            @Html.HiddenFor(x => x.ID)
            @*<div class="form-group col-md-8">
                    <label for="inputState">Üst Kategoriler</label>
                    @Html.DropDownListFor(model => model.Kategori.KategoriAdi, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new { @class = "form-control", id = "ParentID" })
                </div>*@
            <div class="form-group col-md-8">
                <label for="inputEmail4">Başlık</label>
                @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", id = "Baslik", placeholder = "Haber Başlık" })
            </div>
            <div class="form-group col-md-8">
                <label for="inputPassword4">Kısa Açıklama</label>
                @* @Html.TextAreaFor(x => x.KisaAciklama, new { @class = "form-control", id = "KisaAciklama", placeholder = "Kısa Açıklama" })*@
                @Html.TextArea("KisaAciklama")
                <script type="text/javascript">
                    var editor = CKEDITOR.instances['KisaAciklama'];
                    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('KisaAciklama', {
                        enterMode: CKEDITOR.ENTER_BR
                    });
                </script>
            </div>
            <div class="form-group col-md-8">
                <label for="inputPassword4">Açıklama</label>
                @*   @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", id = "Aciklama", placeholder = "Açıklama" })*@
                @Html.TextArea("Aciklama")
                <script type="text/javascript">
                    var editor = CKEDITOR.instances['Aciklama'];
                    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('Aciklama', {
                        enterMode: CKEDITOR.ENTER_BR
                    });
                </script>
            </div>
            <div class="form-group col-md-8">
                <label for="inputPassword4">Vitrin Resim</label>
                <input type="file" name="haberResim" accept="image/*" class="form-control" />
            </div>
            <div class="form-group col-md-8">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.AktifMi, new { @checked = "checked", id = "haberAktif" })
                    <label class="form-check-label" for="gridCheck">
                        Aktif Mi?
                    </label>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary" onclick="KategoriEkle();">Kaydet</a>
    </form>
</div>