@model HaberSistemi.Data.Model.Kategori

@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <form>
        <div class="form-row">
            @Html.HiddenFor(x => x.ID)
            <div class="form-group col-md-8">
                <label for="inputState">Üst Kategoriler</label>
                @Html.DropDownListFor(model => model.KategoriAdi, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new { @class = "form-control", id = "ParentID" })
            </div>
            <div class="form-group col-md-8">
                <label for="inputEmail4">Kategori Adı</label>
                @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control", id = "KategoriAdi", placeholer = "Kategori Adı" })
            </div>
            <div class="form-group col-md-8">
                <label for="inputPassword4">URL</label>
                @Html.TextBoxFor(x => x.URL, new { @class = "form-control", id = "KategoriUrl", placeholer = "URL" })
            </div>
            <div class="form-group col-md-8">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.IsActive, new { @checked = "checked", id = "KategoriAktif" }) Aktif Mi?
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary" onclick="KategoriDuzenle();">Güncelle</a>
    </form>
</div>